:root {
  --myColor: aqua;
  /* background-color: --myColor; */
}

nav {
  --myColor: aqua;
}

main {
  --myColor: lightGreen;
}

.nav-list {
  background-color: var(--myColor);
}

.test {
  background-color: var(--myColor);
}

@media (max-width: 700px) {
  nav {
    --myColor: orange;
    text-decoration: none;
  }
}
