/* Fonts */

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff2");
  font-weight: 400;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff2");
  font-weight: 700;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
    url("../fonts/Roboto-Medium.woff") format("woff2");
  font-weight: 500;
  font-style: normal;
  display: swap;
}

/* Variables */
:root {
  /* text */
  --text: #283136;
  --text-address: #666666;
  --text-hover: #666666;
  --text-footer: #444444;
  --text-sort-gray: rgb(0, 0, 0, 0.3);

  /* background */
  --light-gray-back: #f2f2f2;

  /* buttons */
  --social-icon-gray: #e1e1e1;
  --coral: #fb565a;
  --coral-hover: #e74246;
  --coral-active: #d7373b;
  --button-hover-text: rgb(255, 255, 255, 0.3);
  --light-gray-button: #eeeeee;
  --pag-button-stroke: #dbdbdb;
  --green-button: #00ca74;
  --yellow-button: #efc84a;
}

/* Global */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  font-family: "Roboto", Arial, sans-serif;
  color: var(--text);
  font-size: 16px;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.visually-hidden {
  display: none;
}

.container {
  max-width: 1162px;
  padding: 0 10px;
  margin: 0 auto;
}

/* buttons */
.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--coral);
  border: none;
  border-top: solid 3px var(--coral);
  padding: 13px 0 18px 0;
  border-radius: 5px;
}

.button:hover {
  background-color: var(--coral-hover);
  border-top: solid 3px var(--coral-hover);
}

.button:active {
  color: var(--button-hover-text);
  background-color: var(--coral-active);
  border-top: solid 3px #c23235;
}

.green-button {
  background-color: var(--green-button);
  border-top: solid 3px var(--green-button);
}

.green-button:hover {
  background-color: #00bc6c;
  border-top: solid 3px #00bc6c;
}

.green-button:active {
  background-color: #00aa62;
  border: none;
  border-top: solid 3px #009958;
}

.yellow-button {
  background-color: var(--yellow-button);
  /* border: none; */
  border-top: solid 3px var(--yellow-button);
}

.yellow-button:hover {
  background-color: #eab534;
  border-top: solid 3px #eab534;
}

.yellow-button:active {
  background-color: #e5a722;
  border: none;
  border-top: solid 3px #cf971f;
}

input[type="text"] {
  font-family: inherit;
}

.current-page a {
  border-bottom: 3px solid var(--coral);
  padding-bottom: 20px;
}

/* header */

.main-header {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: var(--light-gray-back);
}

.header-nav {
  display: grid;
  align-items: center;
  grid-template-columns: 31% auto 31%;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.user-nav {
  justify-self: right;
  padding-left: 45px;
  background: url(../img/cart-icon.svg) no-repeat top 6px left;
}

.site-nav {
  padding: 0;
  margin: 0;
  display: flex;
}

.site-nav li {
  margin-right: 46px;
}

.site-nav li:last-child {
  margin-right: 0;
}

.header-menu-link:hover {
  color: var(--coral);
}

.header-logo {
  width: 160px;
  height: 67px;
  background: url(../img/nerds-logo.png) no-repeat top left / cover;
}

.header-logo:hover {
  background-image: url(../img/nerds-logo-hover.png);
}

.header-logo:active {
  background-image: url(../img/nerds-logo-active.png);
}

.header-menu-link:active {
  color: #000;
  opacity: 30%;
}

/* main */

.advantages {
  background-color: var(--light-gray-back);
  padding-bottom: 100px;
  background-image: url(../img/slider1.png);
  background-repeat: no-repeat;
  background-position-x: 47%;
  height: 413px;
  box-sizing: border-box;
}

.slider-desc {
  max-width: 540px;
}

.slider-list {
  margin: 0;
  padding: 0;
}
.h1,
.slider-text {
  margin-top: 0;
  padding-top: 54px;
  color: #000;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin-bottom: 30px;
}

.slider-small-text {
  margin-bottom: 38px;
}

.slider-button {
  width: 240px;
  display: block;
  text-align: center;
}
.slider-container {
  position: relative;
}

.toggle-button-list {
  position: absolute;
  top: 298px;
  left: calc(50% - 45px);
  list-style: none;
  display: flex;
  /* align-items: flex-end; */
  width: 91px;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.slider-toggle {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  position: relative;
  display: block;
}
.slider-toggle:before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border: 2px #c1c1c1 solid;
  display: none;
  border-radius: 50%;
  top: calc(50% - 5px);
  left: calc(50% - 5px);
}

.active-toggle:before {
  display: block;
}

.description-slogan {
  padding-top: 30px;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000;
  margin-top: 0;
  margin-bottom: 33px;
}

.description-text {
  max-width: 645px;
  margin: 0;
}

/* products */

.products-list {
  display: flex;
  /* grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px; */
  padding: 0;
  margin: 0;
  margin-top: 78px;
}

.product {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

.product-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin-top: 14px;
  margin-bottom: 0;
}

.product-text {
  padding-right: 20px;
  margin-top: 16px;
  margin-bottom: 34px;
}

.order_button {
  width: 160px;
  margin-top: auto;
}

.product-img {
  order: -1;
}

.product-img-coral {
  display: inline-block;
  background-color: var(--coral);
}

.product-img-green {
  display: inline-block;
  background-color: var(--green-button);
}

.product-img-yellow {
  display: inline-block;
  background-color: var(--yellow-button);
}

/* description */

.description {
  border-top: 2px solid #eeeeee;
  margin-top: 80px;
  padding-top: 40px;
  display: grid;
  grid-template-columns: 700px 1fr;
  grid-template-rows: min-content min-content;
  grid-column-gap: 100px;
  grid-row-gap: 28px;
  margin-bottom: 46px;
}

/* Услуги */

.service-list {
  list-style: url("../img/icons/list.svg");
}
.service-list li {
  margin: 25px 0;
}

.service-list-title {
  margin-top: 0;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.about-slogan {
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 40px;
  padding-left: 17px;
}
th {
  text-align-last: left;
}

.procent-heading {
  font-size: 45px;
  line-height: 60px;
}
.procent-text {
  font-size: 16px;
  line-height: 18px;
}

/* Клиенты */

.client-list {
  padding-left: 20px;
  display: flex;
  justify-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(4, 1fr);
  padding: 50px 30px 40px;
  border-bottom: 2px solid #eeeeee;
  border-top: 2px solid #eeeeee;
  margin-bottom: 80px;
}

.client-list li {
  position: relative;
}

.client-list li:not(:last-child)::after {
  content: "";
  display: block;
  width: 2px;
  height: 50px;
  background-color: var(--light-gray-button);
  position: absolute;
  right: -44px;
  bottom: 25px;
}

.client-link {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.client-link:hover {
  background-image: var(--client-link-hover);
}

.client-link:active {
  background-image: var(--client-link-active);
}

.htmlacademy-link {
  --client-link-hover: url(../img/logo-html-hover.png);
  --client-link-active: url(../img/logo-html-active.png);
  width: 209px;
  height: 90px;
  background-image: url(../img/logo-html.png);
}

.borod-link {
  --client-link-hover: url(../img/borod-hover.png);
  --client-link-active: url(../img/borod-active.png);
  width: 209px;
  height: 90px;
  background-image: url(../img/borod.png);
}

.pink-link {
  --client-link-hover: url(../img/pink-hover.png);
  --client-link-active: url(../img/pink-active.png);
  width: 209px;
  height: 90px;
  background-image: url(../img/pink.png);
}

.mishka-link {
  --client-link-hover: url(../img/mishka-hover.png);
  --client-link-active: url(../img/mishka-active.png);
  width: 209px;
  height: 90px;
  background-image: url(../img/mishka.png);
}

/* footer */

.map-address {
  position: relative;
}

.map-div {
  position: relative;
}

.marker {
  position: absolute;
  top: 30%;
  left: 50%;
}

.adress-block {
  background-color: #fff;
  margin-top: 55px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 40px;
  padding-bottom: 44px;
  position: absolute;
  top: 0;
  left: calc(50% - 580px);
}

.footer-address-title {
  margin-top: 0;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.footer-address-text {
  color: var(--text-address);
}

.footer-tel-text {
  color: var(--text-address);
  font-size: 16px;
  margin-top: 21px;
  margin-bottom: 38px;
}

.footer-button {
  width: 218px;
  text-align: center;
  display: block;
  margin-top: 24px;
}

.adress-block p {
  line-height: 1.2em;
}
/*footer-bottom*/

.footer-bottom {
  display: grid;
  grid-template-columns: 402px 1fr;
  align-items: center;
}

.social {
  justify-self: start;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  margin: 60px 0;
}

.social-item {
  margin-right: 10px;
  background-color: var(--social-icon-gray);
  width: 78px;
  height: 78px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon {
  fill: white;
}

.social-item:hover {
  background-color: var(--coral);
  color: yellow;
}

.social-item:active {
  box-sizing: border-box;
  background-color: var(--coral-active);
  border-top: solid 3px #c23235;
}

.social-item:active .social-icon {
  fill: var(--button-hover-text);
}

.footer-slogan {
  margin: 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.footer-text {
  color: var(--text-footer);
  margin: 0;
  margin-top: 10px;
}

.right-footer-bottom {
  align-self: center;
}

/* write us*/

.write-us {
  margin: 0 auto;
  margin-left: calc(50% - 375px);
  position: fixed;
  top: 100px;
  padding: 0 80px;
  display: block;
  border-radius: 20px;
  box-shadow: #494949 10px;
  background-color: #817f7f;
  width: 750px;
  box-shadow: 0 15px 20px 5px #3f3f3f, inset 0 5px 20px 5px rgb(168, 167, 167);
  display: none;
}

.write-us-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
}

.write-us-form p {
  margin-bottom: 0;
}

.write-us-title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000;
  margin-top: 30px;
  margin-bottom: 24px;
}
.write-us-input {
  color: #444444;
  font-size: 16px;
  width: 355px;
  height: 50px;
  box-sizing: border-box;
  padding: 20px;
}
.write-us-label {
  margin-bottom: 15px;
  display: block;
  color: #000;
  font-weight: bold;
  line-height: 18px;
}

.letter-text {
  grid-column: 1 / -1;
}

.letter-text-input {
  width: 746px;
  height: 120px;
  border: none;
  outline: none;
  line-height: 40px;
  padding: 20px;
}

.close-cross-button {
  background-color: transparent;
  position: absolute;
  top: 30px;
  right: 70px;
  display: block;
  opacity: 50%;
  border-top: none;
}

.close-cross-button:hover {
  opacity: 100%;
  background-color: transparent;
  border-top: none;
}
.close-cross-button:active {
  opacity: 25%;
  background-color: transparent;
  border: none;
}

.write-us-button {
  width: 260px;
  margin-top: 35px;
  margin-bottom: 45px;
}

/* catalog-page */

.catalog-grid-container {
  padding-top: 46px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 40px;
}

.catalog-title-wrap {
  background-color: var(--light-gray-back);
  padding: 50px 0 115px 0;
  text-align: center;
}

.catalog-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000;
}

.right-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/*  filtre */

.button.show-filtre {
  width: 260px;
  margin-top: 35px;
  border-top: solid 3px var(--light-gray-button);
}

.button.show-filtre:hover {
  border-top: solid 3px var(--pag-button-stroke);
  background-color: #dfdfdf;
}
.button.show-filtre:active {
  background-color: #d5d5d5;
  color: #c0c0c0;
  border-top: solid 3px #c0c0c0;
}

.catalog-form-fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-list {
  font-size: 16px;
  line-height: 19px;
}

.catalog-form-legend {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000;
  padding-top: 15px;
}

.slider-back {
  margin-top: 56px;
  background-color: #eeeeee;
  width: 223px;
  height: 45px;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 34px 21px 0;
  position: relative;
}

.gray-bar {
  width: 219px;
  height: 2px;
  background-color: #d7dcde;
}

.green-bar {
  display: block;
  width: 70%;
  height: 2px;
  background-color: #00ca74;
}

.handle {
  background-color: #ababab;
  display: block;
  width: 4px;
  height: 4px;
  border: 8px #fff solid;
  border-radius: 50%;
  position: absolute;
  left: 5px;
  bottom: 34px;
}

.filter-slider-text {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  margin: 0;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.slider-input {
  text-align: center;
  display: block;
  margin-left: 10px;
  margin-right: 34px;
  width: 80px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #eeeeee;
  box-sizing: border-box;
}

.slider-input:focus {
  border-radius: 5px;
  display: block;
  outline: none;
  border: 1px solid rgb(221, 219, 219);
}

.catalog-filter-list {
  margin-top: 20px;
  padding: 0;
  margin-bottom: 28px;
}

.catalog-filter-list li {
  margin-bottom: 13px;
}

.setka-legend .catalog-filter-list input {
  margin-right: 5px;
}
.features-legend .catalog-filter-list input {
  margin-right: 10px;
}

.filter-radio-button + label::before {
  content: "";
  display: inline-block;
  padding-right: 10px;
  width: 25px;
  height: 25px;
  background: url(../img/icons/radio-off.svg) no-repeat;
  position: relative;
  top: 7px;
  opacity: 40%;
}

.filter-radio-button + label:hover::before {
  opacity: 100%;
}

.filter-radio-button + label:active::before {
  opacity: 10%;
}
.filter-radio-button:checked + label::before {
  background-image: url(../img/icons/radio-on.svg);
}
.filter-checkbox + label:before {
  content: "";
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url(../img/icons/checkbox-off.svg) no-repeat;
  position: relative;
  top: 7px;
  opacity: 40%;
  padding-right: 16px;
}

.filter-checkbox + label:hover::before {
  opacity: 100%;
}

.filter-checkbox + label:active::before {
  opacity: 10%;
}

.filter-checkbox:checked + label::before {
  background-image: url(../img/icons/checkbox-on.svg);
}

/* sorting */

.sort-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000;
  margin-top: 0;
  padding-top: 10px;
  margin-bottom: 42px;
}
.sort-item {
  font-size: 14px;
  line-height: 10px;
  padding-left: 20px;

  text-transform: uppercase;
}
.sort-item-link {
  color: #b3b3b3;
  opacity: 100%;
}

.sort-item-link:hover {
  color: #666666;
  opacity: 100%;
}

.sort-item-link:active {
  color: #000;
}

.sort-chosen .sort-item-link {
  opacity: 100%;
  color: #3f3f3f;
}

.gray-button {
  background-color: var(--light-gray-button);
  color: #000;
}

.up-down-buttons {
  border-top: none;
  background-color: transparent;
  position: relative;
  top: -10px;
}

.up-down-svg {
  fill: #a6a6a6;
  opacity: 20%;
}

.up-down-buttons:hover {
  background-color: transparent;
  border-top: none;
}

.up-down-buttons:hover .up-down-svg {
  fill: #a6a6a6;
  opacity: 100%;
}

.up-down-buttons:active .up-down-svg {
  fill: #231f20;
}

.up-down-buttons:active {
  border-top: none;
  background-color: transparent;
}

.sort-catalog {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.sort-options {
  display: flex;
}
.sort-options ul {
  display: flex;
  padding: 0;
}

.sort-options li {
  margin-right: 5px;
}

.sort-options button {
  padding-right: 15px;
}

/* template-card-list  */

.template-list {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 30px;
}

.template-title {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 0;
}

.template-title:hover {
  color: #fb565a;
}

.template-title:active {
  color: #000;
  opacity: 0.3;
}

.template-desc {
  font-size: 16px;
  line-height: 18px;
  color: var(--text-hover);

  width: 260px;
  margin: 25px auto 30px;
}

.template-cover {
  display: none;
  text-align: center;
  background-color: var(--light-gray-button);
  position: absolute;
  bottom: 0;
  width: 360px;
}

.template-card.active .template-cover {
  display: block;
}

.template-card {
  position: relative;
}

.template-card img {
  display: block;
}

.price-button {
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 44px;
}

.template-card-buttons {
  border-radius: 10px 10px 0 0;
  padding: 10px 0 10px 15px;
  background-color: #e9e9e9;
}

.template-card.active .template-card-buttons {
  background-color: #4d4d4d;
}

.template-card-buttons button {
  width: 14px;
  height: 14px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
}

.template-card.active .template-card-buttons button {
  width: 14px;
  height: 14px;
  border: none;
  border-radius: 50%;
  background-color: #c0c0c0;
}

.pagination {
  padding: 0;
  display: flex;
  margin: 60px 0;
}

.pagination-item .gray-button {
  display: flex;
  text-align: center;
  padding: 0;
  border: none;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.pagination-item .next {
  width: 260px;
}

.pagination-item .gray-button.pag-active {
  background-color: transparent;
  border-radius: 0;
  border: 3px solid #dbdbdb;
  box-sizing: border-box;
}
.pagination-item .gray-button:hover {
  background-color: #dfdfdf;
}
.pagination-item .gray-button:active {
  background-color: #d5d5d5;
  color: #c0c0c0;
  border-top: solid 3px #c0c0c0;
}
