/* Fonts */

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff2");
  font-weight: 400;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff2");
  font-weight: 700;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
    url("../fonts/Roboto-Medium.woff") format("woff2");
  font-weight: 500;
  font-style: normal;
  display: swap;
}

/* Variables */
:root {
  /* text */
  --text: #283136;
  --text-address: #666666;
  --text-hover: #666666;
  --text-footer: #444444;  
  --text-sort-gray: rgb(0, 0, 0, 0.3);

  /* background */
  --light-gray-back: #f2f2f2;

  /* buttons */
  --social-icon-gray: #E1E1E1;
  --coral: #fb565a;
  --coral-hover: #E74246;
  --coral-active: #D7373B;
  --button-hover-text: rgb(255, 255, 255, 0.3);
  --light-gray-button: #eeeeee;
  --pag-button-stroke: #dbdbdb;
  --green-button: #00ca74;
  --yellow-button: #efc84a;
}

/* Global */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  font-family: "Roboto", Arial, sans-serif;
  color: var(--text);
  font-size: 16px;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.visually-hidden {
  display: none;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

/* buttons */
.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--coral);
  border: none;
  padding: 15px 0 20px 0;
  border-radius: 5px;
}

.button:hover {
  background-color: var(--coral-hover);
}

.button:active {
  color: var(--button-hover-text);
  background-color: var(--coral-active);

}

.green-button {
  background-color: var(--green-button);
}

.green-button:hover {
  background-color: #00BC6C;
}


.green-button:active {
  background-color: #00AA62;
}


.yellow-button {
  background-color: var(--yellow-button);
}

.yellow-button:hover {
  background-color: #EAB534;
}

.yellow-button:active {
  background-color: #E5A722;
}

input[type="text"] {
  font-family: inherit;
}

.current-page {
  border-bottom: 2px solid var(--coral);
}

/* header */

.main-header {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: var(--light-gray-back);
}

.header-nav {
  display: grid;
  align-items: center;
  grid-template-columns: 31% auto 31%;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.user-nav {
  justify-self: right;
  padding-left: 45px;
  background: url(../img/cart-icon.svg) no-repeat top 6px left;

}

.site-nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.header-menu-link:hover {
  color: var(--coral);
}

.header-logo {
   width:160px;
   height:67px;
   background: url(../img/nerds-logo.png) no-repeat top left / cover;   
}

.header-logo:hover {
  background-image: url(../img/nerds-logo-hover.png);
}

.header-logo:active {
  background-image: url(../img/nerds-logo-active.png);
}

.header-menu-link:active {
  color: #000;
  opacity: 30%;
}

/* main */

.advantages {
  background-color: var(--light-gray-back);
  padding-bottom: 100px;
  background-image: url(../img/slider1.png);
  background-repeat: no-repeat;
  background-position-x: center;
  height: 413px;
  box-sizing: border-box;
}

.slider-desc {
  max-width: 540px;
}

.slider-list {
  margin: 0;
  padding: 0;
}
.h1,
.slider-text {
  margin-top: 0;
  padding-top: 60px;
  color: #000;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin-bottom: 30px;
}

.slider-small-text {
  margin-bottom: 40px;
}

.slider-button {
  width: 240px;
  display: block;
  text-align: center;
}

.description-slogan {
  padding-top: 30px;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000;
  margin-top: 0;
  margin-bottom: 45px;
}

.description-text {
  max-width: 645px;
  margin: 0;
}

/* продукты */

.products-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px;
  padding: 0;
  margin: 0;
  margin-top: 80px;
}

.product {
  display: grid;
}

.product-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 0;
}

.product-text {
  margin-top: 25px;
  margin-bottom: 40px;
}

.order_button {
  min-width: 160px;
}

.product-img {
  order: -1;
}

.product-img-coral {
  display: inline-block;
  background-color: var(--coral);
}

.product-img-green {
  display: inline-block;
  background-color: var(--green-button);
}

.product-img-yellow {
  display: inline-block;
  background-color: var(--yellow-button);
}

/* description */

.description {
  border-top: 2px solid #eeeeee;
  margin-top: 80px;
  padding-top: 40px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: min-content min-content;
  grid-column-gap: 100px;
  grid-row-gap: 40px;
  margin-bottom: 54px;
}

/* Услуги */

.service-list {
  list-style: url("../img/icons/list.svg");
}
.service-list li {
  margin: 24px 0;
}

.service-list-title {
  margin-top: 0;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.about-slogan {
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 40px;
}

.procent-heading {
  font-size: 45px;
  line-height: 60px;
}
.procent-text {
  font-size: 16px;
  line-height: 18px;
}

/* Клиенты */

.client-list {
  padding-left: 0;
  display: grid;
  justify-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 50px;
  border-bottom: 2px solid #eeeeee;
  margin-bottom: 80px;
}

/* footer */

.map-address {
  position: relative;
}

.map-img {
  display: block;
  width: 100%;
}

.adress-block {
  background-color: #fff;
  margin-top: 55px;
  padding: 50px;
  position: absolute;
  top: 0;
  left: calc(50% - 580px);
  /* left: 50%; */
  /* left: calc(50% + 10px); */
}

.footer-address-title {
  margin-top: 0;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

.footer-address-text {
  color: var(--text-address);
}

.footer-tel-text {
  color: var(--text-address);
}

.footer-button {
  width: 210px;
  text-align: center;
  display: block;
  margin-top: 24px;
}

/*footer-bottom*/

.footer-bottom {
  display: grid;
  grid-template-columns: 540px 1fr;
  align-items: center;
}

.social {
  justify-self: start;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  margin: 70px 0;
}

.social-item {
  margin-right: 10px; 
  background-color: var(--social-icon-gray);
  width: 78px;
  height: 78px;
  border-radius: 50%;
  text-align: center;
}

.social-icon {
  fill: white;
}

.footer-svg {
  padding-top: 28px;
  text-align: center;
}

.social-item:hover{
  background-color: var(--coral);
  color: yellow;
}

.social-item:active .social-icon {
  fill: var(--button-hover-text);
  
}

.footer-slogan {
  margin: 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  
}

.footer-text {
  color: var(--text-footer);
  margin: 0;
  margin-top: 10px; */
}

.right-footer-bottom {
  align-self: center;
}

/* write us*/

.write-us {
  margin-left: 240px;
  margin-bottom: 180px;
  position: relative;
  padding: 0 80px;
  display: block;
  border-radius: 20px;
  box-shadow: #666666 10px;
  background-color: rgba(0, 1, 1, 0.75);
  width: 750px;
  box-shadow: 0 15px 20px 5px #3f3f3f, inset 0 5px 20px 5px rgb(168, 167, 167);
}
/* 
.blur {
  background-color:#666666;
  filter: blur(5 px);
  width: 910px;
  height: 510px;
  opacity: 10%;
  border-radius: 20px;  
  position: absolute;
  top: 0;
  left: 0;
} */

.write-us-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 40px;
  
}

.write-us-form p{
  margin-bottom: 0;
}

.write-us-title {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: #000;
  margin-top: 30px;
  margin-bottom: 24px;
}
.write-us-input {  
  color: #444444;
  font-size: 16px;
  width: 355px;
  height: 50px;
  box-sizing: border-box;
}
.write-us-label {
  margin-bottom: 15px;
  display: block;
  color: #000;
  font-weight: bold;
  line-height: 18px;
}

.letter-text{
  grid-column: 1 / -1;
  
}

.letter-text-input{
  width: 746px;
  height: 120px;
  border:none;
  outline: none;
  line-height: 40px;


}

.close-cross-button {
  background-color: transparent;
  position: absolute;
  top: 30px;
  right: 70px; 
  display: block;
  opacity: 50%;
}

.close-cross-button:hover{
  opacity: 100%;
}

.write-us-button {
  width: 260px;
  margin-top: 35px;
  margin-bottom: 45px;
  
}

.close-cross-button:active{
  opacity: 25%;
}


/* catalog-page */

.catalog-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000;
}

.filter-slider-text {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.catalog-form-fieldset {
  border: none;
}
.catalog-form-legend {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000;
}

.catalog-filter-list {
  font-size: 16px;
  line-height: 19px;
}
.sort-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000;
}
.sort-item {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 30%;
}

.sort-chosen {
  opacity: 100%;
}

.gray-button {
  background-color: var(--light-gray-button);
  color: #000;
}

.pag-active {
  background-color: transparent;
  border: 1px solid var(--pag-button-stroke);
}

.up-down-buttons {
  background-color: transparent;
}
.template-title {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
}
.template-desc {
  font-size: 16px;
  line-height: 18px;
  color: var(--text-hover);
}

.template-cover {
  text-align: center;
  background-color: var(--light-gray-button);
}

.template-card {
  background-color: var(--light-gray-button);
}
